@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome to Banking App</h1>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">View All Accounts</h2>
           
            <p><a class="btn btn-outline-dark" href="/ACCOUNTS">here &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Initiate a Transfer</h2>
            
            <p><a class="btn btn-outline-dark" href="/TRANSACTIONS/Create">here &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">View All Transactions</h2>
           
            <p><a class="btn btn-outline-dark" href="/TRANSACTIONS">here &raquo;</a></p>
        </section>
    </div>
</main>